<div class="login">
  <h3>Resend confirmation instructions</h3>
</div>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <div class="row">
                <%= devise_error_messages! %>
            </div>

  <div class="row">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="row">
    <%= f.submit "Resend confirmation instructions",  id:'subBttn' %>
  </div>
<% end %>
<div class="">
  <%= render "devise/shared/links" %>
</div>