<p id="notice"><%= notice %></p>

<p>
  <strong>Housing type:</strong>
  <%= @apartment_detail.housing_type %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @apartment_detail.rent %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @apartment_detail.deposit %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @apartment_detail.bedrooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @apartment_detail.bathrooms %>
</p>

<p>
  <strong>Available:</strong>
  <%= @apartment_detail.available %>
</p>

<p>
  <strong>Sq foot:</strong>
  <%= @apartment_detail.sq_foot %>
</p>

<p>
  <strong>Description:</strong>
  <%= @apartment_detail.description %>
</p>

<p>
  <strong>Washer dryer:</strong>
  <%= @apartment_detail.washer_dryer %>
</p>

<p>
  <strong>Laundry:</strong>
  <%= @apartment_detail.laundry %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @apartment_detail.pets %>
</p>

<p>
  <strong>Street parking:</strong>
  <%= @apartment_detail.street_parking %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @apartment_detail.parking %>
</p>

<p>
  <strong>Dishwasher:</strong>
  <%= @apartment_detail.dishwasher %>
</p>

<p>
  <strong>Central air:</strong>
  <%= @apartment_detail.central_air %>
</p>

<p>
  <strong>Swimming pool:</strong>
  <%= @apartment_detail.swimming_pool %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @apartment_detail.gym %>
</p>

 

<p>
  <strong>Apartment:</strong>
  <%= @apartment_detail.apartment %>
</p>

<%= link_to 'Edit', edit_apartment_detail_path(@apartment_detail) %> |
<%= link_to 'Back', apartment_details_path %>
