<p id="notice"><%= notice %></p>

<p>
    <strong>Street:</strong>
    <%= @apartment.street_address %>
</p>

<p>
    <strong>Apt:</strong>
    <%= @apartment.apt %>
</p>

<p>
    <strong>City:</strong>
    <%= @apartment.city %>
</p>

<p>
    <strong>State:</strong>
    <%= @apartment.state %>
</p>

<p>
    <strong>Zip code:</strong>
    <%= @apartment.zip_code %>
</p>

<p>
    <strong>User:</strong>
    <%= @apartment.user %>
</p>


<div class="apt-header">
   <div style="display:block" >
        <span class="apt-show-title "> Apartment </span> 
        </div>
    <div class="apt-header-line"> 
        <div class="apt-header-left">
            <%= @apartment.street_address %> &nbsp <%= @apartment.city %>  
        </div>

        <div class="apt-header-right">
          &nbsp $700 
        </div>
    </div>
</div>


<div class="apt-show">
    <div class="apt-show-inner">
        <div class="apt-show-left"> ll 
        
        </div>

        <div class="apt-show-right"> 
          <div class="apt-show-right-inner">
              <div class="apt-show-right-top">  
              <div class="apt-show-right-top-left">
              <span class="apt-show-title "> Available </span> 
               ll 
               </div>
              <div class="apt-show-right-top-right"> rr </div>
              </div>
            <div class="apt-show-right-middle"> 
            <div class="apt-show-right-middle-left"> 
            <span class="apt-show-title "> Apartment </span> 
            </div>
            <div class="apt-show-right-middle-right"> 
            <span class="apt-show-title "> Apartment </span> 
</div>
        </div>
            <div class="apt-show-right-bottom"> 

        </div> 

        </div>
        </div>
 
    </div>
</div>

