

<div class="apt-show-container">

<p id="notice"><%= notice %></p>

<p>
    <strong>Street:</strong>
    <%= @apartment.street_address %>
</p>

<p>
    <strong>Apt:</strong>
    <%= @apartment.apt %>
</p>

<p>
    <strong>City:</strong>
    <%= @apartment.city %>
</p>

<p>
    <strong>State:</strong>
    <%= @apartment.state %>
</p>

<p>
    <strong>Zip code:</strong>
    <%= @apartment.zip_code %>
</p>

<p>
    <strong>User:</strong>
    <%= @apartment.user %>
</p>

<div class="header">
    <div class="header-top">
      <span> $ &nsbp <%= @apartment.apartment_detail.rent %> </span>
    </div>
    <div class="header-middle"> 
        <div class="header-middle-left">
            <%= @apartment.street_address %> &nbsp <%= @apartment.city %>   
        </div>
        <div class="header-middle-right">
          <% if current_user %> 
            <% if current_user.apartments.count > 0 %> 
            <%=  link_to raw('New '+ ' <i class="fa fa-plus-square"></i> ') , new_apartment_path() %>  
          <% end %> 
          <% end %> 
        </div>
    </div>
</div>


<div class="apt-show">
    <div class="apt-show-inner">
        <div class="apt-show-left"> 
                    <div class="project-top-left">
            <% if @apartment.apartment_detail.pictures.attached? %>
            <div class="project-image-large">
                <%= image_tag(@image) %>
            </div>
            <div class="project-image-small">
                <% @apartment.apartment_detail.pictures.each_with_index do |image, index| %>
                <div class="each-project-image-small">
                    <div class="slide" id="<%=index%>">
                        <%= image_tag(image) %>
                    </div>
                </div>
                <% end %>
            </div>
            <% end %>
        </div> 
        
        </div>

        <div class="apt-show-right"> 
          <div class="apt-show-right-inner">
              <div class="apt-show-right-top">  
              <div class="apt-show-right-top-left">
              <span class="apt-show-title "> Available </span> 
               ll 
               </div>
              <div class="apt-show-right-top-right"> rr </div>
              </div>
            <div class="apt-show-right-middle"> 
            <div class="apt-show-right-middle-left"> 
            <span class="apt-show-title "> Apartment </span> 
            </div>
            <div class="apt-show-right-middle-right"> 
            <span class="apt-show-title "> Apartment </span> 
</div>
        </div>
            <div class="apt-show-right-bottom"> 

        </div> 

        </div>
        </div>
 
    </div>
</div>

