<div class="header">
    <div class="header-top">
<span> <%= @apartment.apartment_detail.housing_type %> </span>
    </div>
    <div class="header-middle">
        <div class="header-middle-left">
            <%= @apartment.street_address %> &nbsp <%= @apartment.city %>
        </div>
        <div class="header-middle-right">
            <% if current_user %>
            <% if @my_apartment%> 
            <%=  link_to raw(' &nbsp &nbsp  edit '+ ' <i class="fa fa-edit"></i> ') , edit_apartment_path(params[:id]) %> 
            <% end %>
            <% end %>
        </div>
        <div class="header-middle-right-right">
            <span> $<%= @apartment.apartment_detail.rent %> </span>
        </div>
    </div>
</div>


<div class="apt-show">
    <div class="apt-show-inner">
        <div class="apt-show-left">
            <div class="project-top-left">
                <% if @apartment.apartment_detail.pictures.attached? %>
                <div class="project-image-large">
                    <%= image_tag(@image) %>
                </div>
                <div class="project-image-small">
                    <% @apartment.apartment_detail.pictures.each_with_index do |image, index| %>
                    <div class="each-project-image-small">
                        <div class="slide" id="<%=index%>">
                            <%= image_tag(image) %>
                        </div>
                    </div>
                    <% end %>
                </div>
                <% end %>
            </div>

        </div>

        <div class="apt-show-right">
            <div class="apt-show-right-inner">
                <div class="apt-show-right-top">
                    <div class="apt-show-right-top-left">
                        <span class="apt-show-title "> Available </span>
                        ll
                    </div>
                    <div class="apt-show-right-top-right"> rr </div>
                </div>
                <div class="apt-show-right-middle">
                    <div class="apt-show-right-middle-left">
                        <span class="apt-show-title "> Apartment </span>
                    </div>
                    <div class="apt-show-right-middle-right">
                        <span class="apt-show-title "> Apartment </span>
                    </div>
                </div>
                <div class="apt-show-right-bottom">

                </div>

            </div>
        </div>
    </div>

    <!-- -->
    <div class="apt-show-middle">
        <div class="apt-show-middle-inner">
            <div class="apt-show-middle-left">
            <div class="apt-show-details-edit">
            <span style="float:right">
                    <% if current_user %>
            <% if @my_apartment%> 
            <%=  link_to raw(' &nbsp &nbsp  edit details '+ ' <i class="fa fa-edit"></i> ') , edit_apartment_path(params[:id]) %> 
            <% end %>
            <% end %>
            </span>
            </div>

            <div class="apt-show-description">
                <span>
                    <%= @apartment.apartment_detail.description %>
                </span>
</div>
                <div class="apt-show-ammenities">
                <h3>Amenities</h3>
                    <ul> 
                        <% if @apartment.apartment_detail.washer_dryer %>
                        <li> <span> Washer dryer %>
  </li> 
<% end %>
<% if @apartment.apartment_detail.laundry %>
<li>  <span> Laundry </span> </li> 
<% end %>
<% if @apartment.apartment_detail.street_parking %>

<li> <span> Street parking </span> </li> 
<% end %>
<% if @apartment.apartment_detail.parking %>
<li> <li>  <span> Parking  </span> </li> 
<% end %>
<% if @apartment.apartment_detail.dishwasher %>
<li> <span> Dishwasher </span> </li> 
<% end %>
<% if @apartment.apartment_detail.central_air %>
<li>  <span> Central air </span> </li> 
<% end %>
<% if @apartment.apartment_detail.swimming_pool %>
<li>  <span> Swimming pool  </span> </li>  
<% end %>
<% if @apartment.apartment_detail.gym %>
<li>  <span> Gym  </span> </li>  
<% end %>  
                         
                    </ul> 
                </div>
            </div>

            <!-- -->
            <div class="apt-show-middle-right">
                <div class="apt-show-middle-right-inner">
                      
                </div>
            </div>
        </div>

    </div>
</div>




</div>